.row_c {
  display: flex;
      }

main {
  overflow: auto;
  flex:65%;
  background-color: #ffffff;
    }

.imageicon_c {
  width:30%;
  height:20%;
  display:flex;
}

.posttitle_c{
  display: flex;
  cursor: pointer;
  text-align: center;
  font-weight: normal;
  font-size: 70%;
  margin-top: 5%;
}

.postedby_c{
  display: block;
  font-size: 14px;
  text-align:right;
  font-style: italic;
  font-weight:400;
  color:#707B7C;
  margin-top: 1%;
}

.firstblock_c{
  height: 40%;
  width: 18%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: dotted;
  width: 90%;
}

.flexbox-container_c {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border-style: none;
    margin: 0%;

}

.orderButton_c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  border-radius: 50%;
  margin-top:20%;
}

.item_orders_c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 3%;
  justify-content: center;
}

.quantity_c {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  justify-content: center;
}

.DInfo {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
background-color: #F2F3F4 ;
border-radius: 25px;
}

.PInfo {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
background-color: #F2F3F4 ;
border-radius: 25px;
}

.ItemQuantity{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
    }

.ItemDetails{
  background-color: #F2F3F4;
  border-radius: 25px;
  padding: 3%;
}

.RRC{
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 60%;
}

.PDInfo{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

h3{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table{
  font-size: 16px;
  padding: 10px;
}

@media (max-width: 300px) {
  .row_c {
    -webkit-flex-direction: row;
    flex-direction: row;
    }
  }

  @media (max-height: 300px) {
    .row_c {
      -webkit-flex-direction: row;
      flex-direction: row;
      }
    }
